script(src=config.root+"assets/js/jquery.js")
script(src=config.root+"assets/js/bootstrap-transition.js")
script(src=config.root+"assets/js/bootstrap-alert.js")
script(src=config.root+"assets/js/bootstrap-modal.js")
script(src=config.root+"assets/js/bootstrap-dropdown.js")
script(src=config.root+"assets/js/bootstrap-accordion.js")
script(src=config.root+"assets/js/bootstrap-scrollspy.js")
script(src=config.root+"assets/js/bootstrap-tab.js")
script(src=config.root+"assets/js/bootstrap-tooltip.js")
script(src=config.root+"assets/js/bootstrap-popover.js")
script(src=config.root+"assets/js/bootstrap-button.js")
script(src=config.root+"assets/js/bootstrap-collapse.js")
script(src=config.root+"assets/js/bootstrap-carousel.js")
script(src=config.root+"assets/js/bootstrap-typeahead.js")
script(src=config.root+"assets/js/bootstrap-affix.js")
script(src=config.root+"assets/js/holder/holder.js")
script(src=config.root+"assets/js/google-code-prettify/prettify.js")
script(src=config.root+"assets/js/application.js")
