extends _layout
include component/article
include component/social
include component/postnav

block content
  -header=page.header||"default.jpg"
  script.
    $(function () {
      
      $(window).off('scroll');
      $('.brand').css({
      "height": "42px",
      "font-size": "12px",
      "line-height": "42px",
      "background-position":"15px -38.2px"
      });
      $('.brand b').css({"font-size":"22px"});

      var $hero=$('.hero');
      $hero.css('opacity',0);
      var img=new Image();
      img.src="/header/#{header}";
      img.onload=function(){
        var cover=document.getElementsByClassName('hero')[0];
        cover.style.backgroundImage='url(/header/#{header})';
        $hero.animate({opacity:1},500);
      }
    })
  div.hero
  .page-container
    mixin article(page, false)
    if config.disqus_shortname
      mixin social()
  mixin postnav(page.next,page.prev)
