extends _layout
include component/article
include component/disqus
include component/postnav

block content

  a(href="#{config.root}")
    .square-brand.teambition-font t
  .article-main
    -header=page.header||"default.jpg"
    script.
      $(function () {
        var $hero=$('.hero');
        var $indicator = $('.loading-indicator');
        var $heroBg = $('.hero-bg');
        $hero.css('opacity',0);
        var img=new Image();
        img.src="#{config.root}header/#{header}";
        img.onload=function(){
          var cover=document.getElementsByClassName('hero')[0];
          cover.style.backgroundImage='url(#{config.root}/header/#{header})';
          $indicator.animate({opacity: 0}, 500, function(){
            $heroBg.animate({opacity:0},700);
            $hero.animate({opacity:1},700);
          });
        }
        window.onscroll = function(){
          var offsetY=$(window).scrollTop();
          var opacityValue = 1.*(500-offsetY)/500;
          $hero.css('opacity', opacityValue);  
        }
      })
    div.hero-bg
      div.loading-indicator
        span.loader-dot
        span.loader-dot
        span.loader-dot
    div.hero
    .page-container
      mixin article(page, false)
      if config.disqus_shortname
        mixin social()
    mixin postnav(page.next,page.prev)
