mixin article(item, index,count)
  article
    header
      if index
        -header=item.header||'default.jpg'
        script.
          $(function(){
            var cover=$('##{count}');
            cover.css('opacity',0);
            var img=new Image();
            img.src="/header/#{header}";
            img.onload=function(){
              cover[0].style.backgroundImage='url(/header/#{header})';
              cover.animate({opacity:1},500);
            }
          });
        a(href=config.root+item.path)
          div.image-wrapper(id="#{count}")
        a(href=config.root+item.path): h1.title=item.title
      else
        h1.title.sigle-title=item.title
        -item.tags.each(function(tag){
          a(href=config.root+tag.path, class="tag")='#'+tag.name
        -})
    section.main-content
      if item.excerpt && index
        !{item.excerpt}
      else 
        !{item.content}
    footer
      h4: small: time(datetime=item.date)=item.date.format(config.date_format)
