mixin article(item, index)
  article
    header
      if index
        -header=item.header||'default.jpg'
        a(href=config.root+item.path): div.image-wrapper(style="background-image: url(/header/#{header});")
        a(href=config.root+item.path): h1.title=item.title
      else
        h1.title.sigle-title=item.title
        -item.tags.each(function(tag){
          a(href=config.root+tag.path, class="tag")='#'+tag.name
        -})
    section.main-content
      if item.excerpt && index
        !{item.excerpt}
      else 
        !{item.content}
    footer
      h4: small: time(datetime=item.date)=item.date.format(config.date_format)
