meta(charset="utf-8")
title #{config.title}
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(href=config.root+"css/teambition-ui.css", rel="stylesheet")
link(href=config.root+"css/style.css", rel="stylesheet")
//- link(href=config.root+"css/teambition-ui-responsive.css", rel="stylesheet")
link(rel="shortcut icon", href=config.root+"img/favicon.ico")
link(href=config.root+"atom.xml",type="application/atom+xml",rel="alternate",title=config.title)
//- [if lt IE 9]
//- <script src=config.root+"js/html5shiv.js"></script>
//- ![endif]
