mixin postnav(next,prev)
  .postnav.clearfix
    .postnav-inner
      .prev
        if prev
          a(href="#{config.root + prev.path}")
            span=__('prev_post')
            div=prev.title
      .home: a(href="#{config.root}"): i.icon-home
      .next
        if next
          a(href="#{config.root + next.path}")
            span=__('next_post')
            div=next.title
